ExecutionUnitView {
    border: solid red;
   }

#clock_cycle {
    border: double green;
    align: center middle;
}
Digits {

        width: auto;
   }


#execution_unit {
align: center middle;
}

#execution_text {
    background: blue 50%;
    border: wide white;
    width: auto;
}

